

#mainScreen {
    display: flex;
}

#leftSide {
    width: 50%;
}

#rigthSide {
    width: 50%;
}

#rigthMenu {
    height: 100%;
    background-color: hsl(207, 33%, 95%);
    border-radius: 0 0 0 5em;
}

footer {
    width: 100%;
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
}

.container_footer {
    display: inline-block;
    align-items: center;
}

.logo_contato {
    margin-left: 1em;
}
@media screen and (max-width: 480px) {
    .logo_contato {
        transform: scale(0.5);
    }
}