.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#mainScreen {
    display: flex;
}

#leftSide {
    width: 50%;
    padding-left: 10em;
    padding-top: 5em;
}

#monoDash{
    margin-top: 5em;
    margin-bottom: 2em;
    text-transform: uppercase;
    display: block;
}

#strongNew {
    font-size: 0.8em;
    height: 1em;
    font-weight: bolder;
    background-color: black;
    color: white;
    width: 3rem;
    text-align: center;
    align-items: center;
    border-radius: 0.75rem;
}

.powerInsights{
    font-size: 4em;
    text-transform: uppercase;
}

#protectPlanning {
    margin-top: 1em;
}

.protectTeams {
   margin-bottom: 1em; 
}

#schedule {
    display: inline-flex;
}

li ::before{
    content: "⚫";
}

#rigthSide {
    width: 50%;
    display: flow-root;
}

#rigthMenu {
    display: flex;
    height: 80%;
    background-color: hsl(207, 33%, 95%);
    border-radius: 0 0 0 5em;
}

#rigthNav {
    margin: 5em 2em 2em 15em;
    font-size: 1em;
    display: inline-flex;
}

.navItens {
    margin-right: 1em;
    text-transform: uppercase;
}

.navItens.Login {
    margin-left: 1.5em;
}

#imgDevices {
    margin-top: -11rem;
}

footer {
    width: 100%;
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
}

.container_footer {
    display: inline-block;
    align-items: center;
}


@media screen and (max-width: 480px) {

}