






footer {
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    clear: both;
}

.container_footer {
    display: inline-block;
    align-items: center;
}

.logo_contato {
    margin-left: 1em;
}
@media screen and (max-width: 480px) {
    .logo_contato {
        transform: scale(0.5);
    }
}